<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Radars</mat-card-title>
      <button mat-raised-button  color="accent" (click)="openAddDialog()">
          <span>Add Radars</span>  
          <mat-icon>add</mat-icon>
      </button>  
    
  </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="table-responsive m-t-16">
            <table mat-table class="mat-elevation-z8" [dataSource]="radars">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>ID</th>
                  <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
              
                <!-- Maximum Speed Column -->
                <ng-container matColumnDef="maxSpeed">
                  <th mat-header-cell *matHeaderCellDef>Maximum Speed</th>
                  <td mat-cell *matCellDef="let element">{{element.vitesseMax}} </td>
                </ng-container>
              
                <!-- Longitude Column -->
                <ng-container matColumnDef="longitude">
                  <th mat-header-cell *matHeaderCellDef>Longitude</th>
                  <td mat-cell *matCellDef="let element">{{element.coordonnees?.[0] || 'N/A'}} </td>
                </ng-container>
              
                <!-- Latitude Column -->
                <ng-container matColumnDef="latitude">
                  <th mat-header-cell *matHeaderCellDef>Latitude</th>
                  <td mat-cell *matCellDef="let element">{{element.coordonnees?.[1] || 'N/A'}}</td>
                </ng-container>
              
                <!-- Consult Button Column -->
                <ng-container matColumnDef="consult">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button  mat-flat-button color="primary" >
                        <span>Consult</span>
                        <mat-icon>search</mat-icon>
                    </button>
                  </td>
                </ng-container>
              
                <!-- Delete Button Column -->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="warn" >
                      <span>Delete</span>  
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
  
  
  
    </mat-card-content>
  </mat-card>
  <ng-template #deleteOwnerDialog>
    <!-- Delete Owner Dialog content -->
    <h2 mat-dialog-title>Delete Owner</h2>
    <mat-dialog-content>
      <p>Are you sure you want to delete this owner?</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
    </mat-dialog-actions>
  </ng-template>


<ng-template #addRadarDialog>
<h2 mat-dialog-title>Add Radar</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="newRadarForm" (ngSubmit)="saveNewRadar()">
        
       
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Maximum Speed</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary" >
          <input matInput class="form-control" id="maximumSpeed" formControlName="maximumSpeed" /> 
        </mat-form-field>  
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Longitude</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary" >
              <input matInput class="form-control" id="longitude" formControlName="longitude" /> 
            </mat-form-field> 

        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Latitude</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary" >
                <input matInput class="form-control" id="latitude" formControlName="latitude" /> 
        </mat-form-field>  
           
</form>    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button  color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="saveNewRadar()">Add Vehicle</button>
</mat-dialog-actions>

  </ng-template>  