<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list">
    <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
  </mat-nav-list>
  <div class="p-24 m-t-auto">
    <div class="bg-light-primary d-flex align-items-center rounded p-20 m-t-20">
      
      <img
        src="/assets/images/backgrounds/radar_2970009.png"
        alt="imgae"
        style="width: 140px; /* Adjust the width as needed */
        height: auto;"
      />
    </div>
  </div>
</div>
